name: Build Wheels

on: [push, pull_request]

jobs:
  build-wheels:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: 'abetlen/llama-cpp-python'
          ref: 'v0.2.20'
          submodules: 'recursive'
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel
      - name: Build wheels
        run: CIBW_SKIP="*musllinux*" CIBW_BUILD="cp311-*" CIBW_REPAIR_WHEEL_COMMAND="" cibuildwheel --platform linux --archs "aarch64" --output-dir wheelhouse
      - name: List wheelhouse contents
        run: ls -la wheelhouse/
